
<div class="jumbotron text-center">
<h1 class="display-3">{{title}}</h1>
<p class="lead">Drop the links for the latest tech news, if you have one </p>
<a href="/ideas/add" class="btn btn-dark btn-lg">Add Tech link</a>
</div>
<div>
    <img id="img" src="https://therevisionist.org/wp-content/uploads/2016/08/Hacker-News-Featured-Image.png" alt="Hacker-img">
    <script src="script.css" ></script>
</div>
